@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-4">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-9">
                @{
                    if (Model.Documents != null)
                    {
                        foreach (var item in Model.Documents)
                        {
                            if (item.DocumentOpentoEveryone)
                            {
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block mr-5">
                                            <span><a style="font-size: medium;" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">@item.DocumentTitle</a></span><br />
                                            <span style="font-size: small;">Son Güncellenme - @item.DocumentUpdatedTime.ToString("D")</span>
                                        </div>

                                        <div class="card-tools">
                                            <span class="username mr-3">
                                                <a style="color: black; font-size: small;" asp-controller="Home" asp-action="Index" asp-route-id="@item.DepartmentId">
                                                    @item.Department.DepartmentName
                                                </a>
                                            </span>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <br />
                                            <span><a style="font-size: small;" asp-controller="Home" asp-action="Index" asp-route-userId="@item.UserId">@item.User.NameSurname</a></span><br />


                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p style="font-size: small;">
                                            @if (item.DocumentDescription.Length < 500)
                                            {
                                                @item.DocumentSubtitle
                                                <br />
                                                <a style="color:blue; font-size: small; float: right" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">Devamını Gör</a>
                                            }
                                            else
                                            {
                                                @item.DocumentSubtitle.Substring(0, 500)
                                                <br />
                                                <a style="color:blue; font-size: small; float: right" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">Devamını Gör</a>

                                            }
                                        </p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                if (User.IsInRole("admin") || User.IsInRole("staff"))
                                {
                                    <div class="card card-widget">
                                        <div class="card-header">
                                            <div class="user-block mr-5">
                                                <span><a style="font-size: medium;" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">@item.DocumentTitle</a></span><br />
                                                <span style="font-size: small;">Son Güncellenme - @item.DocumentUpdatedTime.ToString("D")</span>
                                            </div>
                                            <div class="card-tools">
                                                <span class="username mr-3">
                                                    <a style="color: black; font-size: small;" asp-controller="Home" asp-action="Index" asp-route-id="@item.DepartmentId">
                                                        @item.Department.DepartmentName
                                                    </a>
                                                </span>
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <br />
                                                <span><a style="font-size: small;" asp-controller="Home" asp-action="Index" asp-route-userId="@item.UserId">@item.User.NameSurname</a></span><br />


                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p style="font-size: small;">
                                                @if (item.DocumentDescription.Length < 500)
                                                {
                                                    @item.DocumentSubtitle
                                                    <br />
                                                    <a style="color:blue; font-size: small; float: right" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">Devamını Gör</a>
                                                }
                                                else
                                                {
                                                    @item.DocumentSubtitle.Substring(0, 500)
                                                    <br />
                                                    <a style="color: blue; font-size: small; float: right" asp-controller="Home" asp-action="Detail" asp-route-id="@item.DocumentId">Devamını Gör</a>

                                                }
                                            </p>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    }
                }


            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Departmanlar</h3>
                    </div>
                    @{
                        if (Model.Departments != null)
                        {
                            <div class="card-body p-0">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link" style="color:@(ViewBag.selected == null ? "blue" : "");">
                                            Hepsi
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            foreach (var item in Model.Departments)
                            {
                                <div class="card-body p-0">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item ">
                                            <a asp-controller="Home" asp-action="Index" asp-route-id="@item.DepartmentId" style="color:@(ViewBag.selected == item.DepartmentId ? "blue" : "");" class="nav-link">
                                                @item.DepartmentName
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    }

                    <!-- /.card-body -->
                </div>
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">


                </div>
            </div>
        </div>
    </div>
</div>